<h1><%= @message.title %></h1>

<p><%= @message.content %></p>

<%= react_component 'CommentList', message: render(partial: 'messages/message.json', locals: {message: @message}) %>

<%= render 'comments/new', message: @message %>
